button, input, select, textarea { font-family: 'Open Sans', sans-serif; color: #333; }

a:focus { outline: thin dotted; }
a:hover, a:active { color: #c00; outline: 0; }

b { font-weight: bold; }
pre, code { font-family: monospace, monospace; font-size: 1em; }
ol { margin: 1em 0; padding: 0 0 0 20px; }
